# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Simulation results
results/*.json

# Environment
.env
.venv
env/
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 